[Desktop Entry]
Name=Sonic 3 A.I.R.
Comment=A fan-made remaster of Sonic 3 & Knuckles
Type=Application
Encoding=UTF-8
Exec=sonic3air_linux
Icon=sonic3air
Terminal=false
StartupWMClass=sonic3air_linux
